<template name="projects">
	<h2>Some of my work</h2>
	<h3>The Coconuts</h3>
	<p>Developed for an independent band in Toronto, Ontario. Showcasing information about the album, artists, and room for child friendly features, store to be developed, simple Paypal payment used as an alternative.</p>

	<h3>EasyQuote.in</h3>
	<p>Developed for an independent band in Toronto, Ontario. Showcasing information about the album, artists, and room for child friendly features, store to be developed, simple Paypal payment used as an alternative.</p>
	
	<h3>Amanda Morris OCT</h3>
	<p>Developed for an independent band in Toronto, Ontario. Showcasing information about the album, artists, and room for child friendly features, store to be developed, simple Paypal payment used as an alternative.</p>
	
</template>